<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Groups
        
    </title>
</head>

<body>
    <section id="hello">
        <h1>Users
            
        </h1>
        New Groups
        
        <ul>
            {{#each groups
            }}
            <li>Group Id: {{ this.id }}</li>
            <li>Group Name: {{ this.group_name }}</li>
            {{else}}
            <p> No Groups yet</p>
            {{/each}}
        </ul>
    </section>
</body>

</html>