<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Users
        
    </title>
</head>

<body>
    <section id="hello">
        <h1>Users
            
        </h1>
        New Users
        
        <ul>
            {{#each users
            }}
            <li>User Name: {{ this.username }}</li>
            <li>First Name: {{ this.first_name }}</li>
            <li>Last Name: {{ this.last_name }}</li>
            {{else}}
            <p> No Users
                 yet</p>
            {{/each}}
        </ul>
    </section>
</body>

</html>